<h1>Your Maps</h1>
<table>
  <tr>
    <th class="top">Map Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @maps.each do |map| %>
    <tr class="maplist">
      <td><%= map.name %></td>
      <td></td>
      <td><%= link_to 'Show', map %></td>
      <td><%= link_to 'Edit', edit_map_path(map) %></td>
      <td><%= link_to 'Delete', map, {:method => 'delete', :data => {:confirm => 'Are you sure you want to delete? You\'ll be destroying a world :('}} %></td>
    </tr>
  <% end %>

</table>

<br>

<%= link_to 'Create a new map', new_map_path %>