<h1><%= @map.map_title %></h1>

<script>
  var lat = <%=  @map.middle_ground_lat %>;
  var lon = <%= @map.middle_ground_long %>;
  var bounds = new google.maps.LatLngBounds();

  function addAllMarkers(){  
    <% @map.addresses.each do |address| %>
      var lat = <%= address.latitude %>;
      var lon = <%= address.longitude %>;
      var loc = new google.maps.LatLng(lat,lon);
      var newMark = new google.maps.Marker({
        position: loc, 
        map:map
      }); 
      bounds.extend(loc);
    <% end %>

    map.fitBounds(bounds);
    map.panToBounds(bounds);
  }

  google.maps.event.addDomListener(window, "load", initialize);

  google.maps.event.addDomListener(window, "load",addAllMarkers);

</script>

<div id="googleMap" style="width:800px;height:380px;"></div>
<%= render "address_form" %>

<div class="address_list">
  <ul>
    <% @map.addresses.each do |address| %>
      <% next if address.id.nil? %>
      <li><%= address.name %>: <%= address.place %></li>
    <% end %>
  </ul>
</div>

<br>
<%= link_to "Back to all maps", maps_path %>