<h1><%= @map.map_title %></h1>

<script>
  var lat = <%=  @map.middle_ground_lat %>;
  var lon = <%= @map.middle_ground_long %>;
  var bounds = new google.maps.LatLngBounds();
  var addressArray = convertToLatLonObjects(<%= @map.address_array %>);
  var markers = <%= raw @map.addresses_to_json %>;
  var map_id = <%= @map.id %>;
  var selectionPlaces  = <%= raw @map.places.to_json %>;
</script>

<div id="googleMap" style="width:60%;height:380px; border:solid black 1px; display:inline-block;"></div>
<div id="googlePlaces" style="width:35%;height:380px; border:solid black 1px; display:inline-block; margin:0 2%;"><ul></ul></div>

<%= render "address_form" %>

<div class="address_list">
  <ul>
    <% @map.addresses.each do |address| %>
      <% next if address.id.nil? %>
      <li><%= address.name %>: <%= address.place %> <%= link_to "Delete", map_address_path(address.map_id, address.id), :confirm => "Are you sure you want to delete this address?", :method => :delete %></li>
    <% end %>
  </ul>
</div>

<form class="placeTypeForm">
  <fieldset>
    <legend>Pick type of Meeting Place</legend>
    <p>
      <input type="checkbox" name="placeType" id="pT_1" value="bar" checked />
      <label for="pT_1">Bar</label>
    </p>
    <p>
      <input type="checkbox" name="placeType" id="pT_2" value="cafe" />
      <label for="pT_2">Cafe</label>
    </p>
    <p>
      <input type="checkbox" name="placeType" id="pT_3" value="restaurant" />
      <label for="pT_3">Restaurant</label>
    </p>
  </fieldset>
</form>

<form class="dateForm">
  <fieldset>
    <legend>Pick date of Meeting</legend>
    <p>
      <input type="datetime-local" name="placeDate" id="placeDate-id"/>
      <label for="placeDate">Time and Date of Meeting</label>
    </p>
  </fieldset>
</form>

<form class="placePriceForm">
  <fieldset>
    <legend>Pick Price point</legend>
    <p>
      <input type="radio" name="placePrice" id="price_1" value="1" checked />
      <label for="pT_1">$</label>
    </p>
    <p>
      <input type="radio" name="placePrice" id="price_1" value="2" checked />
      <label for="pT_1">$$</label>
    </p>
    <p>
      <input type="radio" name="placePrice" id="price_2" value="3" />
      <label for="pT_2">$$$</label>
    </p>
    <p>
      <input type="radio" name="placePrice" id="price_3" value="4" />
      <label for="pT_3">$$$$</label>
    </p>
  </fieldset>
</form>




<button id="place-btn">Find Meeting Place</button>


<br>
<%= link_to "Back to all maps", maps_path %>

<script>
  google.maps.event.addDomListener(window, "load", initialize);
  google.maps.event.addDomListener(window, "load", addAllMarkers);
</script>